COMPOSE_PROJECT_NAME=lndry
TZ=Asia/Kolkata

POSTGRES_DB=lndry_db
POSTGRES_USER=lndry_user
POSTGRES_PASSWORD=replace_with_a_strong_database_password
REDIS_PASSWORD=replace_with_a_strong_redis_password

POSTGRES_DATA_DIR=/srv/lndry/postgres
REDIS_DATA_DIR=/srv/lndry/redis
BACKUP_DIR=/srv/lndry/backups

AWS_REGION=ap-south-1
BACKUP_S3_BUCKET=replace_with_backup_bucket_name
BACKUP_S3_PREFIX=postgres
BACKUP_RETENTION_DAYS=14
BACKUP_SCHEDULE=0 */6 * * *
